# Компилированные .class файлы
*.class

# Лог-файлы
*.log

# Каталоги сборки
out/
bin/
build/

# Файлы и папки, создаваемые IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.swp

# Временные файлы ОС
.DS_Store
Thumbs.db

# JAR-файлы (если не хочешь коммитить собранные)
*.jar

# Файлы командной сборки
manifest.mf